/* 버튼 컨테이너 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 버튼을 컨테이너 상단에 맞춤 */
  padding-top: none; /* 상단 여백 설정 */
}

/* 가운데 정렬된 버튼 스타일 */
.center-button {
  margin: 0 10px; /* 버튼 사이의 간격 조절 */
  padding: 10px 20px;
  background-color: transparent; /* 배경색 제거 */
  color: #007bff; /* 텍스트 색상 설정 */
  border: none;
  cursor: pointer;
}

/* 메뉴 아이콘 컨테이너 호버 스타일 */
.menu-icon-container:hover {
  color: #0b3d91;
}

/* 검색창 컨테이너 스타일 */
#search-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* 검색창을 지도 위로 올리기 */
}

/* 검색 입력 필드 스타일 */
#search-input {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

/* 검색 버튼 스타일 */
#search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* 전체 페이지 높이와 기본 스타일 설정 */
html,
body,
#content {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 맵 컨테이너 스타일 */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
