.col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 26%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .img-container {
    width: 100%; /* 이미지 너비 설정 */
    height: 300px; /* 이미지 높이 설정 */
  }
  .img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-6-row {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 70.666667%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* 이 줄을 추가하세요 */
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 70.333333%;
    border-radius: 10px;
    overflow: hidden; /* 이 줄을 추가하세요 */
  }
  .col-md-7-row{
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 70.333333%;
    border-radius: 10px;
     height: 250px;
     overflow: hidden; /* 이 줄을 추가하세요 */
     
  }
  
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 70.666667%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    border-radius: 10px;
  }
  .word {
    color: #ffffff;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    height: 330px;
    width: 600px;
    border-radius: 10px;
  }
  .col-md-11 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 95.333333%;
    max-width: 83.333333%;
    border-radius: 10px;
    overflow: hidden; /* 이 줄을 추가하세요 */
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #87ceeb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  #sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s;
  }
  #sidebar.active {
    left: 0;
  }
  #content {
    padding: 20px;
    text-align: center;
    transition: margin-left 0.3s; /* 추가 */
  }
  
  
  #dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  
    padding: 21px;
    
  }
  /* 테마 */
.sidebar-bg {
    background-image: linear-gradient(to bottom right, #0B0B61, #0B173B, #07102d);
  }
  
  /* 메뉴 버튼 */
  #sidebarToggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #0078d7;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    
    transition: left 0.3s;
  }
  #sidebarToggle.active {
    left: 270px;
  }
  
  #sidebarToggle:hover {
    background-color: #87ceeb;
  }
  
  /* 사이드바 */
  #sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #dfdede;
    transition: transform 0.3s;
    transform: translateX(-100%);
    z-index: 999;
  }
 
  
  #sidebar.active {
    transform: translateX(0);
  }
  
  #sidebar h2 {
    text-align: center;
    color: #ffffff;
    background-color: #0078d7;
    padding: 20px 0;
  }
  
  #sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sidebar ul li a {
    display: block;
    color: #0078d7;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  #sidebar ul li a:hover {
    background-color: #f1f1f1;
  }
  .menu-icon-container {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu-icon-container:hover {
    color: #0b3d91;
  }
  .menu-icon-container {
    background-color: transparent; /* 수정됨 */
      border: none; /* 수정됨 */
      border-radius: 5px;
      padding: 4px;
      cursor: pointer;
      margin-top: 20px;
  }
  .time {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
